{% extends 'add_company_base.html' %}
{% block container %}
    <div class="content_mid">
        <dl class="c_section c_section_mid">
            <dt>
                <h2><em></em>填写公司信息</h2>
                <a class="c_addjob" href="{% url 'PostJob' %}"><i></i>发布新职位</a>
            </dt>
            <dd>
                <div class="c_text">
                    背景深、规模大、发展快、氛围好…用优势吸引求职者吧！
                </div>
                <img width="668" height="56" class="c_steps" alt="第五步" src="/static/images/step5.png"/>
                <form method="post" action="{% url 'recruitment:company05' %}" id="infoForm">
                    {% csrf_token %}
                    <input type="hidden" name="companyId" value="{{ c.id }}"/>
                    <h3>公司介绍</h3>
                    <textarea placeholder="请分段详细描述公司简介、企业文化等" name="companyProfile" id="companyProfile"></textarea>
                    <div class="word_count">
                        你还可以输入
                        <span>1000</span> 字
                    </div>
                    <div class="clear"></div>
                    <input type="button" id="step5Submit" value="保存，完成" class="btn_big fr"/>
                </form>
            </dd>
        </dl>
    </div>
    <script src="/static/js/step5.min.js" type="text/javascript"></script>
    <div class="clear"></div>
    <a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
{% endblock %}