{% extends 'add_company_base.html' %}
{% block container %}
    <div style="" id="stepTip">
        <a></a>
        <img width="803" height="59" src="/static/images/tiponce.jpg"/>
    </div>
    <div class="content_mid">
        <dl class="c_section c_section_mid">
            <dt>
                <h2><em></em>填写公司信息</h2>
            </dt>
            <dd>
                <form id="stepForm">
                    <div class="c_text_1">
                        基本信息为必填项，是求职者加速了解公司的窗口，认真填写吧！
                    </div>
                    <img width="668" height="56" class="c_steps" alt="第一步" src="/static/images/step1.png"/>
                    <h3>公司全称 </h3>
                    <input type="text" placeholder="请输入公司全称，如:拉勾" value="" name="name_all" id="name_all" class="valid"/>
                    <h3>公司简称</h3>
                    <!--非必填-->
                    <input type="text" placeholder="请输入公司简称，如:拉勾" value="" name="name" id="name" class="valid"/>
                    <h3>公司LOGO</h3>
                    <!--非必填改必填-->
                    <div class="c_logo c_logo_pos">
                        {#         <a title="上传公司LOGO" class="inline cboxElement" href="#logoUploader">#}
                        <input type="file" value="" title="支持jpg、jpeg、gif、png格式，文件小于5M"
                               onchange="img_check(this,'/recruitment/company_logo.html','headPic','headPic');"
                               name="headPic"
                               id="headPic" class="myfiles"/>
                        <div id="logoNo">
                            <span>上传公司LOGO</span>
                            <br/> 尺寸：190*190px
                            <br/> 大小：小于5M
                        </div>
                        <div class="dn" id="logoShow">
                            <img width="190" height="190" alt="公司logo" src=""/>
                            <span>更换公司LOGO<br/>190px*190px 小于5M</span>
                        </div>
                        </a>
                    </div>
                    <h3>公司网址</h3>
                    <input type="text" placeholder="请输入公司网址" value="" name="website" id="website"/>
                    <h3>所在城市</h3>
                    <input type="text" placeholder="请输入工作城市，如：北京" name="city" id="city"/>
                    <h3>行业领域</h3>
                    <div>
                        <input type="hidden" value="" name="select_industry_hidden" id="select_industry_hidden"/>
                        <input type="button" value="请选择行业领域" name="select_industry" id="select_industry"
                               class="select"/>
                        <div class="dn" id="box_industry" style="display: none;">
                            <ul class="reset">
                                {% for sector in sectors %}
                                    <li>{{ sector.sector }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <h3>公司规模</h3>
                    <div>
                        <input type="hidden" value="" name="select_scale_hidden" id="select_scale_hidden"/>
                        <input type="button" value="请选择公司规模" id="select_scale" class="select"/>
                        <div class="dn" id="box_scale" style="display: none;">
                            <ul class="reset">
                                <li>少于15人</li>
                                <li>15-50人</li>
                                <li>50-150人</li>
                                <li>150-500人</li>
                                <li>500-2000人</li>
                                <li>2000人以上</li>
                            </ul>
                        </div>
                    </div>
                    <h3>发展阶段</h3>
                    <div>
                        <input type="hidden" id="s_radio_hidden" name="s_radio_hidden" value=""/>
                        <ul class="s_radio clearfix s_radio_ex">
                            <li>未融资</li>
                            <li>天使轮</li>
                            <li>A轮</li>
                            <li>B轮</li>
                            <li>C轮</li>
                            <li>D轮及以上</li>
                            <li>上市公司</li>
                        </ul>
                    </div>
                    <h3>一句话介绍</h3>
                    <input type="text" placeholder="一句话概括公司亮点，如公司愿景、领导团队等，限50字" maxlength="50" name="temptation"
                           id="temptation"/>
                    <span style="display:none;" class="error" id="beError"></span>
                    <input type="hidden" id="companyId" name="companyId" value=""/>
                    <input type="submit" value="保存，下一步" id="stepBtn" class="btn_big fr"/>
                </form>
            </dd>
        </dl>
    </div>
    <script src="/static/js/step1.min.js" type="text/javascript"></script>
    <div class="clear"></div>
    <a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
{% endblock %}