{% extends 'base.html' %}
{% block header %}
    <div class="wrapper">
        <a class="logo" href="/"> <img width="229" height="43" alt="拉勾招聘-专注互联网招聘" src="/static/images/logo.png"/>
        </a>
        <ul id="navheader" class="reset">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'company_list' %}">公司</a></li>
            <li class="current"><a rel="nofollow" href="{% url 'user:my_resume' %}">我的简历</a></li>
        </ul>
        <dl class="collapsible_menu">
            <dt>
                <span>{{ user.email }}</span>
                <span class="red dn" id="noticeDot-0"></span>
                <i></i>
            </dt>
            <dd>
                <a href="{% url 'user:my_collection' %}">我收藏的职位</a>
            </dd>
            <dd>
                <a href="{% url 'user:resume_status' %}">我投递的职位</a>
            </dd>
            <dd class="btm">
                <a href="{% url 'user:my_subscription' %}">我的订阅</a>
            </dd>
            <dd>
                <a href="{% url 'update_pwd' %}">帐号设置</a>
            </dd>
            <dd class="logout">
                <a rel="nofollow" href="{% url 'logout' %}">退出</a>
            </dd>
        </dl>
    </div>
{% endblock %}
{% block container %}
    <div class="clearfix">
        <div class="content_l">
            <dl class="c_collections">
                <dt>
                    <h1><em></em>我收藏的职位</h1>
                </dt>
                <dd>
                    <form id="collectionsForm">
                        <ul class="reset my_collections">
                            {% for pc in pcs.current_page_data_list %}
                                <li data-id="{{ pc.position.id }}">
                                    <a title="{{ pc.position.company.abbreviation_name }}" target="_blank"
                                       href="{% url 'company_detail' %}?id={{ pc.position.company.id }}">
                                        <img alt="{{ pc.position.company.abbreviation_name }}"
                                             src="{{ pc.position.company.logo }}"/>
                                    </a>
                                    <div class="co_item">
                                        <h2 title="{{ pc.position.position }}">
                                            <a target="_blank"
                                               href="{% url 'position_detail' %}?id={{ pc.position.id }}">
                                                <em>{{ pc.position.position }}</em>
                                                <span>（{{ pc.position.salaryMin }}K-{{ pc.position.salaryMax }}K）</span>
                                            </a>
                                        </h2>
                                        <span class="co_time">发布时间：{{ pc.position.addTime }}</span>
                                        <div class="co_cate">
                                            {{ pc.position.company.abbreviation_name }} / {{ pc.position.workAddress }}
                                            / {{ pc.position.workYear }} / {{ pc.position.education }}
                                        </div>
                                        <span class="co_youhuo c7">{{ pc.position.positionAdvantage }}</span>
                                        <a class="collection_link" target="_blank"
                                           href="{% url 'position_detail' %}?id={{ pc.position.id }}">投个简历</a>
                                        <i></i>
                                        <a class="collectionCancel collection_link collected" href="javascript:;"> 取消收藏
                                            <span>已取消收藏</span>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </form>
                </dd>
                <div class="Pagination myself">
                    <a href="{% url 'user:my_collection' %}?page=1"
                       title="1">首页</a>
                    <a href="{% url 'user:my_collection' %}?page={{ pcs.previous_page }}"
                       title="{{ pcs.previous_page }}">上一页 </a>
                    {% for s in pcs.page_num_range %}
                        {% if page == s %}
                            <span class="current" title="{{ s }}">{{ s }}</span>
                        {% else %}
                            <a href="{% url 'user:my_collection' %}?page={{ s }}"
                               title="{{ s }}">{{ s }}</a>
                        {% endif %}
                    {% endfor %}


                    <a href="{% url 'user:my_collection' %}?page={{ pcs.next_page }}"
                       title="{{ pcs.next_page }}">下一页 </a>
                    <a href="{% url 'user:my_collection' %}?page={{ pcs.num_pages }}"
                       title="{{ pcs.num_pages }}">尾页</a>
                </div>
            </dl>
        </div>
        <div class="content_r">
            <div class="mycenterR" id="myInfo">
                <h2>我的信息</h2>
                <a href="{% url 'user:my_collection' %}">我收藏的职位</a>
                <br>
                <a href="{% url 'user:resume_status' %}" target="_blank">我投递的职位<span id="noticeNoPage" class="red dn">&nbsp;(0)</span></a>
                <br>
                <a target="_blank" href="{% url 'user:my_subscription' %}">我订阅的职位</a>
            </div>
        </div>
        <script src="/static/js/collections.min.js"></script>
        <div class="clear"></div>
        <a rel="nofollow" title="回到顶部" id="backtop"></a>
    </div>
{% endblock %}