<!DOCTYPE HTML>
<html>
<head>
    <script id="allmobilize" charset="utf-8" src="/static/js/allmobilize.min.js"></script>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate" media="handheld"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>寻寻-最专业的互联网招聘平台</title>
    <meta content="互联网职业机会尽在寻寻" name="description">
    <meta content="寻寻,寻寻招聘,互联网招聘, 移动互联网招聘, 垂直互联网招聘猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招"
          name="keywords">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/jquery.1.10.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/csrf.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lib.min.js"></script>
    <script type="text/javascript" src="/static/js/core.min.js"></script>
</head>

<body id="login_bg">
{% block body %}

{% endblock %}
</body>
</html>