{% extends 'base.html' %}
{% block header %}
    <div class="wrapper">
        <a href="{% url 'index' %}" class="logo">
            <img src="/static/images/logo.png" width="229" height="43" alt="拉勾招聘-专注互联网招聘"/>
        </a>
        <ul class="reset" id="navheader">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li class="current"><a href="{% url 'company_list' %}">公司</a></li>
            {% if user %}
                {% if user.type == 0 %}
                    <li><a href="{% url 'user:my_resume' %}" rel="nofollow">我的简历</a></li>
                {% endif %}
                {% if user.type == 1 %}
                    <li><a href="{% url 'PostJob' %}" rel="nofollow">发布职位</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'user:my_resume' %}" rel="nofollow">我的简历</a></li>
                <li><a href="{% url 'PostJob' %}" rel="nofollow">发布职位</a></li>
            {% endif %}
        </ul>
        {% if user %}
            {% if user.type %}
                <dl class="collapsible_menu">
                    <dt>
                        <span>{{ user.email }}</span>
                        <span class="red dn" id="noticeDot-1"></span>
                        <i></i>
                    </dt>
                    <dd style="display: none;">
                        <a href="{% url 'recruitment:positions' %}">我发布的职位</a>
                    </dd>
                    <dd style="display: none;">
                        <a href="{% url 'recruitment:unprocessed_resume' %}">我收到的简历</a>
                    </dd>
                    <dd class="btm" style="display: none;">
                        <a href="{% url 'recruitment:my_home_detail' %}">我的公司主页</a>
                    </dd>
                    <dd style="display: none;">
                        <a href="{% url 'update_pwd' %}">帐号设置</a>
                    </dd>
                    <dd class="logout" style="display: none;">
                        <a rel="nofollow" href="{% url 'logout' %}">退出</a>
                    </dd>
                </dl>
            {% else %}
                <dl class="collapsible_menu">
                    <dt>
                        <span>{{ user.email }}</span>
                        <span class="red dn" id="noticeDot-0"></span>
                        <i></i>
                    </dt>
                    <dd>
                        <a href="{% url 'user:my_collection' %}">我收藏的职位</a>
                    </dd>
                    <dd>
                        <a href="{% url 'user:resume_status' %}">我投递的职位</a>
                    </dd>
                    <dd class="btm">
                        <a href="{% url 'user:my_subscription' %}">我的订阅</a>
                    </dd>
                    <dd>
                        <a href="{% url 'update_pwd' %}">帐号设置</a>
                    </dd>
                    <dd class="logout">
                        <a rel="nofollow" href="{% url 'logout' %}">退出</a>
                    </dd>
                </dl>
            {% endif %}
        {% else %}
            <ul class="loginTop">
                <li><a href="{% url 'login' %}" rel="nofollow">登录</a></li>
                <li>|</li>
                <li><a href="{% url 'register' %}" rel="nofollow">注册</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block container %}
    <div class="clearfix">
        <div class="content_l">
            <div class="c_detail">
                <div style="background-color:#fff;" class="c_logo">
                    <img width="190" height="190" alt="公司logo" src="{{ c.logo }}"/>
                </div>
                <div class="c_box companyName">
                    <h2 title="{{ c.full_name }}">{{ c.full_name }}</h2>
                    {% if auth %}
                        <em class="valid"></em>
                        <span class="va dn">拉勾认证企业</span>
                    {% else %}
                        <em class="unvalid"></em>
                        <span class="va dn">拉勾未认证企业</span>
                    {% endif %}
                    <div class="clear"></div>
                    <h1 title="{{ c.full_name }}" class="fullname">{{ c.full_name }}</h1>
                    <div class="clear oneword">
                        <img width="17" height="15" src="/static/images/quote_l.png"/>&nbsp;
                        <span>{{ c.desc }}</span> &nbsp;
                        <img width="17" height="15" src="/static/images/quote_r.png"/>
                    </div>
                    <h3 class="dn">已选择标签</h3>
                    <ul style="overflow:auto" id="hasLabels" class="reset clearfix">
                        {% for tag in c.tags.all %}
                            <li><span>{{ tag.name }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="c_breakline"></div>
            {% if c.product %}
                <div id="Product">
                    <div class="product_wrap">
                        <dl class="c_product">
                            <dt>
                                <h2><em></em>公司产品</h2>
                            </dt>
                            <dd>
                                <img width="380" height="220" alt="" src="/{{ c.product.product_poster }}"/>
                                <div class="cp_intro">
                                    <h3><a target="_blank"
                                           href="{{ c.product.product_url }}">{{ c.product.product_name }}</a></h3>
                                    <div class="scroll-pane" style="overflow: hidden; padding: 0px; width: 260px;">
                                        <div class="jspContainer" style="width: 260px; height: 140px;">
                                            <div class="jspPane" style="padding: 0px; top: 0px; width: 260px;">
                                                <div>
                                                    {{ c.product.product_desc }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                            {#                            <a title="编辑产品信息" class="c_edit" id="editCompanyDetail"#}
                            {#                               href="{% url 'recruitment:company04' %}?id={{ c.id }}"></a>#}
                        </dl>
                    </div>
                </div>
            {% endif %}
            <!-- end #Product -->
            {% if c.introduction %}
                <div id="Profile">
                    <div class="profile_wrap">
                        <dl class="c_section">
                            <dt>
                                <h2><em></em>公司介绍</h2>
                            </dt>
                            <dd>
                                <div class="c_intro">
                                    {{ c.introduction.introduction }}
                                </div>
                            </dd>
                            {#                            <a title="编辑公司介绍" class="c_edit" id="editCompanyDetail"#}
                            {#                               href="{% url 'recruitment:company05' %}?id={{ c.id }}"></a>#}
                        </dl>

                    </div>
                </div>
            {% endif %}
            <div id="flag"></div>
        </div>
        <!-- end .content_l -->
        <div class="content_r">
            <div id="Tags">
                <div id="c_tags_show" class="c_tags solveWrap">
                    <table>
                        <tbody>
                        <tr>
                            <td width="45">地点</td>
                            <td>{{ c.city }}</td>
                        </tr>
                        <tr>
                            <td>领域</td>
                            <!-- 支持多选 -->
                            <td title="领域">
                                {% for sector in c.industry_sector.all %}
                                    {{ sector.sector }}&nbsp;&nbsp;
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>规模</td>
                            <td>{{ c.scope }}</td>
                        </tr>
                        <tr>
                            <td>主页</td>
                            <td><a rel="nofollow" title="{{ c.url }}" target="_blank" href="{{ c.url }}">{{ c.url }}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <dl class="c_section c_stages">
                <dt>
                    <h2><em></em>融资阶段</h2>
                </dt>
                <dd>
                    <ul class="reset stageshow">
                        <li>目前阶段：<span class="c5">{{ c.development_stage }}</span></li>
                    </ul>
                </dd>
            </dl>
            <!-- end .c_stages -->
            {% if c.founder %}
                <div id="Member">
                    <!--有创始团队-->
                    <dl class="c_section c_member">
                        <dt>
                            <h2><em></em>创始团队</h2>
                        </dt>
                        <dd>
                            <div class="member_wrap">

                                <div class="member_info">
                                    {#                                    <a title="编辑创始人" class="c_edit member_edit"#}
                                    {#                                       href="{% url 'recruitment:company03' %}?id={{ c.founder.id }}"></a>#}
                                    <div class="m_portrait">
                                        <div></div>
                                        <img width="120" height="120" alt="{{ c.founder.founder_name }}"
                                             src="/{{ c.founder.photo }}"/>
                                    </div>
                                    <div class="m_name">
                                        {{ c.founder.founder_name }}
                                        <a target="_blank" class="weibo" href="{{ c.founder.sina }}"></a>
                                    </div>
                                    <div class="m_position">
                                        {{ c.founder.current_position }}
                                    </div>
                                    <div class="m_intro">
                                        {{ c.founder.desc }}
                                    </div>
                                </div>

                            </div>
                            <!-- end .member_wrap -->
                        </dd>
                    </dl>
                </div>
            {% endif %}
            <!-- end #Member -->
        </div>
    </div>
    <script src="/static/js/company.min.js" type="text/javascript"></script>
    <div class="clear"></div>
    <input type="hidden" value="d1035b6caa514d869727cff29a1c2e0c" id="resubmitToken"/>
    <a rel="nofollow" title="回到顶部" id="backtop" style="display: inline;"></a>
{% endblock %}