{% extends 'base.html' %}
{% block header %}
    <div class="wrapper">
        <a href="{% url 'index' %}" class="logo">
            <img src="/static/images/logo.png" width="229" height="43" alt="寻寻招聘-专注互联网招聘"/>
        </a>
        <ul class="reset" id="navheader">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li class="current"><a href="{% url 'company_list' %}">公司</a></li>
            {% if user %}
                {% if user.type == 0 %}
                    <li><a href="{% url 'user:my_resume' %}" rel="nofollow">我的简历</a></li>
                {% endif %}
                {% if user.type == 1 %}
                    <li><a href="{% url 'PostJob' %}" rel="nofollow">发布职位</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'user:my_resume' %}" rel="nofollow">我的简历</a></li>
                <li><a href="{% url 'PostJob' %}" rel="nofollow">发布职位</a></li>
            {% endif %}
        </ul>
        {% if user %}
            {% if user.type %}
                <dl class="collapsible_menu">
                    <dt>
                        <span>{{ user.email }}</span>
                        <span class="red dn" id="noticeDot-1"></span>
                        <i></i>
                    </dt>
                    <dd style="display: none;">
                        <a href="{% url 'recruitment:positions' %}">我发布的职位</a>
                    </dd>
                    <dd style="display: none;">
                        <a href="{% url 'recruitment:unprocessed_resume' %}">我收到的简历</a>
                    </dd>
                    <dd class="btm" style="display: none;">
                        <a href="{% url 'recruitment:my_home_detail' %}">我的公司主页</a>
                    </dd>
                    <dd style="display: none;">
                        <a href="{% url 'update_pwd' %}">帐号设置</a>
                    </dd>
                    <dd class="logout" style="display: none;">
                        <a rel="nofollow" href="{% url 'logout' %}">退出</a>
                    </dd>
                </dl>
            {% else %}
                <dl class="collapsible_menu">
                    <dt>
                        <span>{{ user.email }}</span>
                        <span class="red dn" id="noticeDot-0"></span>
                        <i></i>
                    </dt>
                    <dd>
                        <a href="{% url 'user:my_collection' %}">我收藏的职位</a>
                    </dd>
                    <dd>
                        <a href="{% url 'user:resume_status' %}">我投递的职位</a>
                    </dd>
                    <dd class="btm">
                        <a href="{% url 'user:my_subscription' %}">我的订阅</a>
                    </dd>
                    <dd>
                        <a href="{% url 'update_pwd' %}">帐号设置</a>
                    </dd>
                    <dd class="logout">
                        <a rel="nofollow" href="{% url 'logout' %}">退出</a>
                    </dd>
                </dl>
            {% endif %}
        {% else %}
            <ul class="loginTop">
                <li><a href="{% url 'login' %}" rel="nofollow">登录</a></li>
                <li>|</li>
                <li><a href="{% url 'register' %}" rel="nofollow">注册</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block container %}
    <div class="clearfix">
        <div class="content_l">
            <dl class="hc_tag">
                <dt>
                    <ul class="workplace reset fr" id="workplaceSelect">
                        {% for s in hotCity %}
                            <li>
                                {% if s == cws %}
                                    <a href="{% url 'company_list' %}?ws={{ s }}&de={{ cde }}&ir={{ cir }}&page={{ page }}"
                                       class="current">{{ s }}</a>
                                {% else %}
                                    <a href="{% url 'company_list' %}?ws={{ s }}&de={{ cde }}&ir={{ cir }}&page={{ page }}"
                                    >{{ s }}</a>
                                {% endif %}
                                |
                            </li>
                        {% endfor %}
                        <li class="more">
                            <a href="javascript:void(0)">其他</a>
                            <div class="triangle citymore_arrow"></div>
                        </li>
                        <li id="box_expectCity" class="searchlist_expectCity dn">
                            <span class="bot"></span>
                            <span class="top"></span>
                            {% for w in workAddress %}
                                <dl>
                                    <dt>
                                        {{ w.0 }}
                                    </dt>
                                    <dd>
                                        {% for s in w.1 %}
                                            {% if cws == s.0 %}
                                                <a href="{% url 'company_list' %}?ws={{ s.0 }}&de={{ cde }}&ir={{ cir }}&page={{ page }}"
                                                   class="current">{{ s.0 }}</a>
                                            {% else %}
                                                <a href="{% url 'company_list' %}?ws={{ s.0 }}&de={{ cde }}&ir={{ cir }}&page={{ page }}">{{ s.0 }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </dd>
                                </dl>
                            {% endfor %}
                        </li>
                    </ul>
                </dt>
                <dd>
                    <dl>
                        <dt>发展阶段：</dt>
                        <dd>
                            {% for s in development_stage %}
                                {% if cde == s %}
                                    <a class="current"
                                       href="{% url 'company_list' %}?ws={{ cws }}&de={{ s }}&ir={{ cir }}&page={{ page }}">{{ s }}</a>
                                {% else %}
                                    <a href="{% url 'company_list' %}?ws={{ cws }}&de={{ s }}&ir={{ cir }}&page={{ page }}">{{ s }}</a>
                                {% endif %}
                            {% endfor %}
                        </dd>
                    </dl>
                    <dl>
                        <dt>行业领域：</dt>
                        <dd>
                            {% for s in sectors %}
                                {% if s.0 == cir %}
                                    <a class="current"
                                       href="{% url 'company_list' %}?ws={{ cws }}&de={{ cde }}&ir={{ s.0 }}&page={{ page }}">{{ s.0 }}</a>
                                {% else %}
                                    <a href="{% url 'company_list' %}?ws={{ cws }}&de={{ cde }}&ir={{ s.0 }}&page={{ page }}">{{ s.0 }}</a>
                                {% endif %}
                            {% endfor %}
                        </dd>
                    </dl>

                </dd>
            </dl>
            <ul class="hc_list reset">
                {% for company in companys_list %}
                    {% if company.num %}
                        <li style="clear:both;">
                            {% else %}
                        <li>
                    {% endif %}
                <a href="{% url 'company_detail' %}?id={{ company.id }}" target="_blank">
                    <h3 title="{{ company.abbreviation_name }}">{{ company.abbreviation_name }}</h3>
                    <div class="comLogo">
                        <img src="{{ company.logo }}" width="190"
                             height="190"
                             alt="{{ company.abbreviation_name }}"/>
                        <ul>
                            <li>{{ company.sectors }}</li>
                            <li>{{ company.city }}，{{ company.development_stage }}</li>
                        </ul>
                    </div>
                </a>
                {% for position_info in company.position_infos %}
                    <a href="{% url 'position_detail' %}?id={{ position_info.id }}"
                       target="_blank"> {{ position_info.position }}</a>
                {% endfor %}
                <ul class="reset ctags">
                    {% for t in company.tags.all %}
                        <li>{{ t.name }}</li>
                    {% endfor %}
                </ul>
                </li>
                {% endfor %}
            </ul>
            <div class="Pagination myself">
                <a href="{% url 'company_list' %}?ws={{ cws }}&de={{ cde }}&ir={{ cir }}&page=1"
                   title="1">首页</a>
                <a href="{% url 'company_list' %}?ws={{ cws }}&de={{ cde }}&ir={{ cir }}&page={{ Pag_obj.previous_page }}"
                   title="{{ Pag_obj.previous_page }}">上一页 </a>
                {% for s in Pag_obj.page_num_range %}
                    {% if page == s %}
                        <span class="current" title="{{ s }}">{{ s }}</span>
                    {% else %}
                        <a href="{% url 'company_list' %}?ws={{ cws }}&de={{ cde }}&ir={{ cir }}&page={{ s }}"
                           title="{{ s }}">{{ s }}</a>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'company_list' %}?ws={{ cws }}&de={{ cde }}&ir={{ cir }}&page={{ Pag_obj.next_page }}"
                   title="{{ Pag_obj.next_page }}">下一页 </a>
                <a href="{% url 'company_list' %}?ws={{ cws }}&de={{ cde }}&ir={{ cir }}&page={{ Pag_obj.num_pages }}"
                   title="{{ Pag_obj.num_pages }}">尾页</a>
            </div>
        </div>
        <div class="content_r">
            <div class="subscribe_side">
                <a href="{% url 'user:edit_subscription' %}" target="_blank">
                    <div class="subpos">
                        <span>订阅</span> 职位
                    </div>
                    <div class="c7">
                        寻寻网会根据你的筛选条件，定期将符合你要求的职位信息发给你
                    </div>
                    <i>我也要订阅职位</i>
                </a>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ user.id }}" name="userid" id="userid"/>
    <script type="text/javascript" src="/static/js/company_list.min.js"></script>
    <div class="clear"></div>
    <input type="hidden" id="resubmitToken" value=""/>
    <a id="backtop" title="回到顶部" rel="nofollow"></a>
{% endblock %}