{% extends 'positions_base.html' %}
{% block container %}
    <div class="sidebar">
        <a class="btn_create" href="{% url 'PostJob' %}">发布新职位</a>
        <dl class="company_center_aside">
            <dt>
                我收到的简历
            </dt>
            <dd>
                <a href="{% url 'recruitment:unprocessed_resume' %}">待处理简历</a>
            </dd>
            <dd>
                <a href="{% url 'recruitment:indefinite_resume' %}">待定简历</a>
            </dd>
            <dd>
                <a href="{% url 'recruitment:interview_resume' %}">已通知面试简历</a>
            </dd>
            <dd>
                <a href="{% url 'recruitment:not_suitable_resume' %}">不合适简历</a>
            </dd>
        </dl>
        <dl class="company_center_aside">
            <dt>
                我发布的职位
            </dt>
            <dd class="current">
                <a href="{% url 'recruitment:positions' %}">有效职位</a>
            </dd>
            <dd>
                <a href="{% url 'recruitment:position_offline' %}">已下线职位</a>
            </dd>
        </dl>
    </div>
    <!-- end .sidebar -->
    <div class="content">
        <dl class="company_center_content">
            <dt>
                <h1><em></em> 有效职位 <span>（共<i style="color:#fff;font-style:normal"
                                              id="positionNumber">{{ pn }}</i>个）</span>
                </h1>
            </dt>
            <dd>
                <form id="searchForm">
                    <input type="hidden" value="Publish" name="type"/>
                    <ul class="reset my_jobs">
                        {% for position in positions %}
                            <li data-id="{{ position.id }}"><h3><a target="_blank"
                                                                   title="{{ position.positionType }}-{{ position.position }}"
                                                                   href="{% url 'recruitment:position_detail' %}?id={{ position.id }}">{{ position.positionType }}-{{ position.position }}</a>
                                <span>[{{ position.workAddress }}]</span></h3>
{#                                <span class="receivedResumeNo">#}
{#                                    <a href="#">应聘简历（1）</a>#}
{#                                </span>#}
                                <div>
                                    {{ position.jobNature }} / {{ position.salaryMin }}k-{{ position.salaryMax }}k
                                    / {{ position.workYear }} / {{ position.education }}
                                </div>
                                <div class="c9">
                                    发布时间： {{ position.addTime }}
                                </div>
                                <div class="links">
                                    <a target="_blank" class="job_edit" href="{% url 'PostJob' %}?id={{ position.id }}">编辑</a>
                                    <a class="job_offline" href="javascript:void(0)">下线</a>
                                    <a class="job_del" href="javascript:void(0)">删除</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            </dd>
        </dl>
    </div>
    <script src="/static/js/job_list.min.js" type="text/javascript"></script>
    <div class="clear"></div>
    <input type="hidden" value="74fb1ce14ebf4e2495270b0fbad64704" id="resubmitToken"/>
    <a rel="nofollow" title="回到顶部" id="backtop"></a>
{% endblock %}