{% extends 'base.html' %}
{% block header %}
    <div class="wrapper">
        <a href="{% url 'index' %}" class="logo">
            <img src="/static/images/logo.png" width="229" height="43" alt="拉勾招聘-专注互联网招聘"/>
        </a>
        <ul class="reset" id="navheader">
            <li class="current"><a href="{% url 'index' %}">首页</a></li>
            <li><a href="companylist.html">公司</a></li>
            {% if user %}
                {% if user.type == 0 %}
                    <li><a href="{% url 'user:my_resume' %}" rel="nofollow">我的简历</a></li>
                {% endif %}
                {% if user.type == 1 %}
                    <li><a href="{% url 'PostJob' %}" rel="nofollow">发布职位</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'user:my_resume' %}" rel="nofollow">我的简历</a></li>
                <li><a href="{% url 'PostJob' %}" rel="nofollow">发布职位</a></li>
            {% endif %}
        </ul>
        {% if user %}
            {% if user.type %}
                <dl class="collapsible_menu">
                    <dt>
                        <span>{{ user.email }}</span>
                        <span class="red dn" id="noticeDot-1"></span>
                        <i></i>
                    </dt>
                    <dd style="display: none;">
                        <a href="{% url 'recruitment:positions' %}">我发布的职位</a>
                    </dd>
                    <dd style="display: none;">
                        <a href="positions.html">我收到的简历</a>
                    </dd>
                    <dd class="btm" style="display: none;">
                        <a href="{% url 'recruitment:my_home_detail' %}">我的公司主页</a>
                    </dd>
                    <dd style="display: none;">
                        <a href="accountBind.html">帐号设置</a>
                    </dd>
                    <dd class="logout" style="display: none;">
                        <a rel="nofollow" href="{% url 'logout' %}">退出</a>
                    </dd>
                </dl>
            {% else %}
                <dl class="collapsible_menu">
                    <dt>
                        <span>{{ user.email }}</span>
                        <span class="red dn" id="noticeDot-0"></span>
                        <i></i>
                    </dt>
                    <dd>
                        <a href="collections.html">我收藏的职位</a>
                    </dd>
                    <dd class="btm">
                        <a href="subscribe.html">我的订阅</a>
                    </dd>
                    <dd>
                        <a href="accountBind.html">帐号设置</a>
                    </dd>
                    <dd class="logout">
                        <a rel="nofollow" href="{% url 'logout' %}">退出</a>
                    </dd>
                </dl>
            {% endif %}
        {% else %}
            <ul class="loginTop">
                <li><a href="{% url 'login' %}" rel="nofollow">登录</a></li>
                <li>|</li>
                <li><a href="{% url 'register' %}" rel="nofollow">注册</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block container %}
    <div id="sidebar">
        <div class="mainNavs">
            {% for p1 in p %}
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>{{ p1.name }}<span></span></h2>
                        {% for hot in p1.hot_p %}
                            <a href="{% url 'list' %}?pn={{ hot.name }}"
                               style="text-decoration: none">{{ hot.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="menu_sub dn">
                        {% for p2 in p1.son.all %}
                            <dl class="reset">
                                <dt>
                                    <span>
                                        {{ p2.name }}
                                    </span>
                                </dt>
                                <dd>
                                    {% for p3 in p2.son.all %}
                                        <a href="{% url 'list' %}?pn={{ p3.name }}">{{ p3.name }}</a>
                                    {% endfor %}
                                </dd>
                            </dl>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="subscribe" href="subscribe.html" target="_blank">订阅职位</a>
    </div>
    <div class="content">
        <div id="search_box">
            <form id="searchForm" name="searchForm" action="{% url 'search' %}" method="get">
                <ul id="searchType">
                    <li data-searchtype="1" class="type_selected">职位</li>
                    <li data-searchtype="2">公司</li>
                </ul>
                <div class="searchtype_arrow"></div>
                <input type="text" id="search_input" name="kd" tabindex="1" value="" placeholder="请输入职位名称，如：产品经理"/>
                <input type="hidden" name="spc" id="spcInput" value="1"/>
                <input type="submit" id="search_button" value="搜索"/>
            </form>
        </div>
        <style>
            .ui-autocomplete {
                width: 488px;
                background: #fafafa !important;
                position: relative;
                z-index: 10;
                border: 2px solid #91cebe;
            }

            .ui-autocomplete-category {
                font-size: 16px;
                color: #999;
                width: 50px;
                position: absolute;
                z-index: 11;
                right: 0px; /*top: 6px; */
                text-align: center;
                border-top: 1px dashed #e5e5e5;
                padding: 5px 0;
            }

            .ui-menu-item {
                *width: 439px;
                vertical-align: middle;
                position: relative;
                margin: 0px;
                margin-right: 50px !important;
                background: #fff;
                border-right: 1px dashed #ededed;
            }

            .ui-menu-item a {
                display: block;
                overflow: hidden;
            }
        </style>
        <dl class="hotSearch">
            <dt>热门搜索：</dt>
            {% for search in hot_search %}
                <dd>
                    <a href="{% url 'search' %}?kd={{ search.name }}&spc=1">{{ search.name }}</a>
                </dd>
            {% endfor %}
        </dl>
        <script type="text/javascript" src="/static/js/search.min.js"></script>
        <div id="home_banner">
            <ul class="banner_bg">
                <li class="banner_bg_1 current">
                    <a href="h/subject/s_buyfundation.html?utm_source=DH__lagou&utm_medium=banner&utm_campaign=haomai"
                       target="_blank"><img src="/static/images/d05a2cc6e6c94bdd80e074eb05e37ebd.jpg" width="612"
                                            height="160" alt="好买基金——来了就给100万"/></a>
                </li>
                <li class="banner_bg_2">
                    <a href="h/subject/s_worldcup.html?utm_source=DH__lagou&utm_medium=home&utm_campaign=wc"
                       target="_blank"><img src="/static/images/c9d8a0756d1442caa328adcf28a38857.jpg" width="612"
                                            height="160" alt="世界杯放假看球，老板我也要！"/></a>
                </li>
                <li class="banner_bg_3">
                    <a href="h/subject/s_xiamen.html?utm_source=DH__lagou&utm_medium=home&utm_campaign=xiamen"
                       target="_blank"><img src="/static/images/d03110162390422bb97cebc7fd2ab586.jpg" width="612"
                                            height="160" alt="出北京记——第一站厦门"/></a>
                </li>
            </ul>
            <div class="banner_control">
                <em></em>
                <ul class="thumbs">
                    <li class="thumbs_1 current">
                        <i></i>
                        <img src="/static/images/4469b1b83b1f46c7adec255c4b1e4802.jpg" width="113" height="42"/>
                    </li>
                    <li class="thumbs_2">
                        <i></i>
                        <img src="/static/images/381b343557774270a508206b3a725f39.jpg" width="113" height="42"/>
                    </li>
                    <li class="thumbs_3">
                        <i></i>
                        <img src="/static/images/354d445c5fd84f1990b91eb559677eb5.jpg" width="113" height="42"/>
                    </li>
                </ul>
            </div>
        </div><!--/#main_banner-->
        <ul id="da-thumbs" class="da-thumbs">
            {% for company in hot_company %}
                <li>
                    <a href="{% url 'company_detail' %}?id={{ company.id }}" target="_blank">
                        <img src="{{ company.logo }}" width="113" height="113"
                             alt="{{ company.abbreviation_name }}"/>
                        <div class="hot_info">
                            <h2 title="{{ company.abbreviation_name }}">{{ company.abbreviation_name }}</h2>
                            <em></em>
                            <p title="{{ company.desc }}">
                                {{ company.desc }}
                            </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="last">
                <a href="{% url 'company_detail' %}?id={{ last_company.id }}" target="_blank">
                    <img src="{{ last_company.logo }}" width="113" height="113"
                         alt="{{ last_company.abbreviation_name }}"/>
                    <div class="hot_info">
                        <h2 title="{{ last_company.abbreviation_name }}">{{ last_company.abbreviation_name }}</h2>
                        <em></em>
                        <p title="{{ last_company.desc }}">
                            {{ last_company.desc }}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="reset hotabbing">
            <li class="current">热门职位</li>
            <li>最新职位</li>
        </ul>
        <div id="hotList">
            <ul class="hot_pos reset">
                {% for position in hot_positions %}
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="{% url 'position_detail' %}?id={{ position.id }}" title="{{ position.position }}" target="_blank">{{ position.position }}</a>
                                <span class="c9">[{{ position.workAddress }}]</span>
                            </div>
                            <span><em class="c7">月薪： </em>{{ position.salaryMin }}k-{{ position.salaryMax }}k</span>
                            <span><em class="c7">经验：</em>{{ position.workYear }}</span>
                            <span><em class="c7">最低学历： </em>{{ position.education }}</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>{{ position.positionAdvantage }}</span>
                            <br/>
                            <span>{{ position.addTime }}</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany"><a href="{% url 'company_detail' %}?id={{ position.cid }}"
                                                           target="_blank">{{ position.abbreviation_name }}</a>
                            </div>
                            <span><em class="c7">领域：</em>{{ position.sector }}</span>
                            <span><em class="c7">创始人：</em>{{ position.founder_name }}</span>
                            <br/>
                            <span><em class="c7">阶段：</em>{{ position.development_stage }}</span>
                            <span><em class="c7">规模：</em>{{ position.scope }}</span>
                            <ul class="companyTags reset">
                                {% for i in position.tag %}
                                    <li>{{ i.0 }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                <a href="{% url 'list' %}?te=hot" class="btn fr" target="_blank">查看更多</a>
            </ul>
            <ul class="hot_pos hot_posHotPosition reset" style="display:none;">
                {% for position in hot_positions %}
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="{% url 'position_detail' %}?id={{ position.id }}" title="{{ position.position }}" target="_blank">{{ position.position }}</a>
                                <span class="c9">[{{ position.workAddress }}]</span>
                            </div>
                            <span><em class="c7">月薪： </em>{{ position.salaryMin }}k-{{ position.salaryMax }}k</span>
                            <span><em class="c7">经验：</em>{{ position.workYear }}</span>
                            <span><em class="c7">最低学历： </em>{{ position.education }}</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>{{ position.positionAdvantage }}</span>
                            <br/>
                            <span>{{ position.addTime }}</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany"><a href="{% url 'company_detail' %}?id={{ position.cid }}"
                                                           target="_blank">{{ position.abbreviation_name }}</a>
                            </div>
                            <span><em class="c7">领域：</em>{{ position.sector }}</span>
                            <span><em class="c7">创始人：</em>{{ position.founder_name }}</span>
                            <br/>
                            <span><em class="c7">阶段：</em>{{ position.development_stage }}</span>
                            <span><em class="c7">规模：</em>{{ position.scope }}</span>
                            <ul class="companyTags reset">
                                {% for i in position.tag %}
                                    <li>{{ i.0 }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                <a href="{% url 'list' %}?te=new" class="btn fr" target="_blank">查看更多</a>
            </ul>
        </div>
    </div>
    <input type="hidden" value="" name="userid" id="userid"/>
    <script type="text/javascript" src="/static/js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/js/home.min.js"></script>
    <script type="text/javascript" src="/static/js/count.js"></script>
    <div class="clear"></div>
    <input type="hidden" id="resubmitToken" value=""/>
    <a id="backtop" title="回到顶部" rel="nofollow"></a>

{% endblock %}