{% extends 'resume_base_company.html' %}
{% block script %}
{% endblock %}
{% block container %}
    <div class="sidebar">
        <a class="btn_create" href="{% url 'PostJob' %}">发布新职位</a>
        <dl class="company_center_aside">
            <dt>
                我收到的简历
            </dt>
            <dd>
                <a href="{% url 'recruitment:unprocessed_resume' %}">待处理简历</a>
            </dd>
            <dd>
                <a href="{% url 'recruitment:indefinite_resume' %}">待定简历</a>
            </dd>
            <dd>
                <a href="{% url 'recruitment:interview_resume' %}">已通知面试简历</a>
            </dd>
            <dd class="current">
                <a href="{% url 'recruitment:not_suitable_resume' %}">不合适简历</a>
            </dd>
        </dl>
        <dl class="company_center_aside">
            <dt>
                我发布的职位
            </dt>
            <dd>
                <a href="{% url 'recruitment:positions' %}">有效职位</a>
            </dd>
            <dd>
                <a href="{% url 'recruitment:position_offline' %}">已下线职位</a>
            </dd>
        </dl>
    </div>
    <!-- end .sidebar -->
    <div class="content">
        <dl class="company_center_content">
            <dt>
                <h1><em></em> 不合适简历 <span>（共{{ l }}份）</span></h1>
            </dt>
            <dd>
                <form action="canInterviewResumes.html" method="get" id="filterForm">
                    <div class="filter_actions">
                        <label class="checkbox"> <input type="checkbox"/> <i></i> </label>
                        <span>全选</span>
                        <a id="resumeDelAll" href="javascript:;">删除</a>
                        <div id="filter_btn" class="">
                            筛选简历
                            <em class=""></em>
                        </div>
                    </div>
                    <!-- end .filter_actions -->
                    <div class="filter_options  dn " style="display: none;">
                        <dl>
                            <dt>
                                简历状态：
                            </dt>
                            <dd>
                                {% for r in read %}
                                    {% if rd == r.0 %}
                                        <a class="current"
                                           href="{% url 'recruitment:not_suitable_resume' %}?rd={{ r.0 }}&rs={{ rs }}">{{ r.1 }}</a>
                                    {% else %}
                                        <a href="{% url 'recruitment:not_suitable_resume' %}?rd={{ r.0 }}&rs={{ rs }}">{{ r.1 }}</a>
                                    {% endif %}
                                {% endfor %}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                简历形式：
                            </dt>
                            <dd>
                                {% for r in sort %}
                                    {% if rs == r.0 %}
                                        <a class="current"
                                           href="{% url 'recruitment:not_suitable_resume' %}?rd={{ rd }}&rs={{ r.0 }}">{{ r.1 }}</a>
                                    {% else %}
                                        <a href="{% url 'recruitment:not_suitable_resume' %}?rd={{ rd }}&rs={{ r.0 }}">{{ r.1 }}</a>
                                    {% endif %}
                                {% endfor %}
                            </dd>
                        </dl>
                    </div>
                    <!-- end .filter_options -->
                    <ul class="reset resumeLists">
                        {% for sr in srs %}
                            <li data-id="{{ sr.id }}" class="onlineResume">
                                <label class="checkbox">
                                    <input type="checkbox"/>
                                    <i></i>
                                </label>
                                <div class="resumeShow">
                                    <a title="预览在线简历" target="_blank" class="resumeImg"
                                       href="{{ sr.resume_url }}">
                                        <img src="{{ sr.resume.resume_info.photo }}"/> </a>
                                    <div class="resumeIntro">
                                        <h3 class="unread"><a target="_blank" title="预览{{ sr.resume.title }}"
                                                              href="{{ sr.resume_url }}"> {{ sr.resume.title }} </a>
                                            <em></em></h3>
                                        <span class="fr">投递时间：{{ sr.add_time }}</span>
                                        <div class="jdpublisher">
                                        <span> 应聘职位：
                                            <a title="{{ sr.position.position }}" target="_blank"
                                               href="{% url 'recruitment:position_detail' %}?id={{ sr.position.id }}">{{ sr.position.position }}</a>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="links">
                                        <a class="resume_del" href="javascript:void(0)">删除</a>
                                    </div>
                                </div>
                                <div class="contactInfo">
                                    <span class="c9">电话：</span>{{ sr.resume.resume_info.phone }} &nbsp;&nbsp;&nbsp;
                                    <span class="c9">邮箱：</span>
                                    <a href="mailto:{{ sr.resume.user.email }}">{{ sr.resume.user.email }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- end .resumeLists -->
                </form>
            </dd>
        </dl>
        <!-- end .company_center_content -->
    </div>
    <div style="display:none;">
        <!--通知面试弹窗-->
        <div style="overflow:auto;" class="popup" id="noticeInterview">
            <form id="noticeInterviewForm">
                <table width="100%" class="f16">
                    <tbody>
                    <tr>
                        <td width="20%" align="right" class="c9">收件人</td>
                        <td width="80%"><span class="c9" id="receiveEmail"></span> <input type="hidden" value=""
                                                                                          name="email"/></td>
                    </tr>
                    <tr>
                        <td align="right"><span class="redstar">*</span>主题</td>
                        <td><input type="text" placeholder="公司：职位名称面试通知" name="subject"/></td>
                    </tr>
                    <tr>
                        <td align="right"><span class="redstar">*</span>面试时间</td>
                        <td><input type="text" id="datetimepicker" name="interTime" class="hasDatepicker"/></td>
                    </tr>
                    <tr>
                        <td align="right"><span class="redstar">*</span>面试地点</td>
                        <td><input type="text" name="interAdd"/></td>
                    </tr>
                    <tr>
                        <td align="right">联系人</td>
                        <td><input type="text" name="linkMan"/></td>
                    </tr>
                    <tr>
                        <td align="right"><span class="redstar">*</span>联系电话</td>
                        <td><input type="text" name="linkPhone"/></td>
                    </tr>
                    <tr>
                        <td valign="top" align="right">补充内容</td>
                        <td><textarea name="content"></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="发送" class="btn"/> <a class="emailPreview"
                                                                             href="javascript:;">预览</a></td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" value="" name="name"/>
                <input type="hidden" value="" name="positionName"/>
                <input type="hidden" value="" name="companyName"/>
                <input type="hidden" value="" name="deliverId"/>
            </form>
        </div>
        <!--/#noticeInterview-->
        <!--预览通知面试弹窗-->
        <div class="popup" id="noticeInterviewPreview">
            <div class="f18">
                拉勾网：产品经理面试通知
            </div>
            <div class="c9">
                发给：
                <span>vivi@lagou.com</span>
            </div>
            <div id="emailText"></div>
            <input type="button" value="提交" class="btn fl"/>
            <a title="通知面试" class="inline fl cboxElement" href="#noticeInterview">返回修改</a>
        </div>
        <!--/#noticeInterviewPreview-->
        <!--通知面试成功弹窗-->
        <div class="popup" id="noticeInterviewSuccess">
            <table width="100%" class="f16">
                <tbody>
                <tr>
                    <td align="center" class="f16"> 面试通知已发送成功<br/> 该简历已进入“已通知面试简历”列表</td>
                </tr>
                <tr>
                    <td align="center"><input type="button" value="确认" class="btn"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/#noticeInterviewSuccess-->
        <!--转发简历弹窗-->
        <div class="popup" id="forwardResume">
            <form id="forwardResumeForm">
                <table width="100%" class="f16">
                    <tbody>
                    <tr>
                        <td width="20%" align="right">收件人</td>
                        <td width="80%"><input type="text" placeholder="最多可添加两个邮箱，用“；”隔开" id="recipients"
                                               name="recipients"/> <span id="forwardResumeError" style="display:none"
                                                                         class="beError"></span></td>
                    </tr>
                    <tr>
                        <td align="right">主题</td>
                        <td><input type="text" value="" name="title"/></td>
                    </tr>
                    <tr>
                        <td valign="top" align="right">正文</td>
                        <td><textarea name="content"></textarea> <span style="display:none;"
                                                                       class="beError error"></span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="发送" class="btn"/> <a class="emial_cancel"
                                                                             href="javascript:;">取消</a></td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" value="" name="resumeKey"/>
                <input type="hidden" value="" name="positionId"/>
                <input type="hidden" value="" name="deliverId"/>
            </form>
        </div>
        <!--/#forwardResume-->
        <!--转发简历成功弹窗-->
        <div class="popup" id="forwardResumeSuccess">
            <table width="100%" class="f16">
                <tbody>
                <tr>
                    <td align="center" class="f16">简历已转发成功</td>
                </tr>
                <tr>
                    <td align="center"><input type="button" value="确认" class="btn"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/#forwardResumeSuccess-->
        <!--确认不合适弹窗-->
        <div style="height:400px;" class="popup" id="confirmRefuse">
            <form id="refuseMailForm">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td>
                            <div class="refuse_icon">
                                <h3>确认这份简历不合适吗？</h3>
                                <span>确认后，系统将自动发送以下内容至用户邮箱</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><textarea name="content">非常荣幸收到您的简历，在我们仔细阅读您的简历之后，却不得不很遗憾的通知您： 您的简历与该职位的定位有些不匹配，因此无法进入面试。 但您的信息已录入我司人才储备库，当有合适您的职位开放时我们将第一时间联系您，希望在未来我们有机会成为一起拼搏的同事； 再次感谢您对我们的信任，祝您早日找到满意的工作。</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="确认不合适" class="btn"/> <a class="emial_cancel"
                                                                                href="javascript:;">取消</a></td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" value="" name="deliverId"/>
            </form>
        </div>
        <!--/#confirmRefuse-->
        <!--拒绝email成功弹窗-->
        <div class="popup" id="refuseMailSuccess">
            <table width="100%" class="f16">
                <tbody>
                <tr>
                    <td align="center" class="f16"> 不合适通知已发送成功<br/> 该简历已进入“不合适简历”列表</td>
                </tr>
                <tr>
                    <td align="center"><input type="button" value="确认" class="btn"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/#refuseMailSuccess-->
    </div>
    <!-- end ----------------------------------------->
    <script src="/static/js/jquery.ui.datetimepicker.min.js" type="text/javascript"></script>
    <script src="/static/js/received_resumes.min.js" type="text/javascript"></script>
    <div class="clear"></div>
    <a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
{% endblock %}
