{% extends 'positions_base.html' %}
{% block script %}
    <script src="/static/plugins/kindeditor/kindeditor-all-min.js"></script>
{% endblock %}
{% block container %}
    <div class="sidebar">
        <a class="btn_create" href="{% url 'PostJob' %}">发布新职位</a>
        <dl class="company_center_aside">
            <dt>
                我收到的简历
            </dt>
            <dd>
                <a href="unHandleResumes.html">待处理简历</a>
            </dd>
            <dd>
                <a href="canInterviewResumes.html">待定简历</a>
            </dd>
            <dd>
                <a href="haveNoticeResumes.html">已通知面试简历</a>
            </dd>
            <dd>
                <a href="haveRefuseResumes.html">不合适简历</a>
            </dd>
            <dd class="btm">
                <a href="autoFilterResumes.html">自动过滤简历</a>
            </dd>
        </dl>
        <dl class="company_center_aside">
            <dt>
                我发布的职位
            </dt>
            <dd>
                <a href="{% url 'recruitment:positions' %}">有效职位</a>
            </dd>
            <dd>
                <a href="positions.html">已下线职位</a>
            </dd>
        </dl>
    </div>
    <!-- end .sidebar -->
    <div class="content">
        <dl class="company_center_content">
            <dt>
                <h1><em></em> 发布新职位 </h1>
            </dt>
            <dd>
                <div class="ccc_tr">
                    今日已发布
                    <span>0</span> 个职位 还可发布
                    <span>5</span> 个职位
                </div>
                <form id="jobForm">
                    <input type="hidden" value="" name="id"/>
                    <input type="hidden" value="create" name="preview"/>
                    <input type="hidden" value="{{ c.id }}" name="companyId"/>
                    <input type="hidden" value="c29d4a7c35314180bf3be5eb3f00048f" name="resubmitToken"/>
                    <table class="btm">
                        <tbody>
                        <tr>
                            <td width="25"><span class="redstar">*</span></td>
                            <td width="85">职位类别</td>
                            <td><input type="hidden" id="positionType" value="" name="positionType"/> <input
                                    type="button" value="请选择职位类别" id="select_category" class="selectr selectr_380"/>
                                <div class="dn" id="box_job" style="display: none;">
                                    {% for p1 in p %}
                                        <dl>
                                            <dt>
                                                {{ p1.name }}
                                            </dt>
                                            <dd>
                                                <ul class="reset job_main">
                                                    {% for p2 in p1.son.all %}
                                                        <li><span>{{ p2.name }}</span>
                                                            <ul class="reset job_sub dn"
                                                                style="margin-left: -160px;">
                                                                {% for p3 in p2.son.all %}
                                                                    <li>{{ p3.name }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </dd>
                                        </dl>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="redstar">*</span></td>
                            <td>职位名称</td>
                            <td><input type="text" placeholder="请输入职位名称，如：产品经理" value="" name="positionName"
                                       id="positionName"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>所属部门</td>
                            <td><input type="text" placeholder="请输入所属部门" value="" name="department"
                                       id="department"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="btm">
                        <tbody>
                        <tr>
                            <td width="25"><span class="redstar">*</span></td>
                            <td width="85">工作性质</td>
                            <td>
                                <ul class="profile_radio clearfix reset">
                                    <li> 全职<em></em> <input type="radio" name="jobNature" value="全职"/></li>
                                    <li> 兼职<em></em> <input type="radio" name="jobNature" value="兼职"/></li>
                                    <li> 实习<em></em> <input type="radio" name="jobNature" value="实习"/></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="redstar">*</span></td>
                            <td>月薪范围</td>
                            <!--<h3><span>(最高月薪不能大于最低月薪的2倍)</span></h3> -->
                            <td>
                                <div class="salary_range">
                                    <div>
                                        <input type="text" placeholder="最低月薪" value="" id="salaryMin"
                                               name="salaryMin"/>
                                        <span>k</span>
                                    </div>
                                    <div>
                                        <input type="text" placeholder="最高月薪" value="" id="salaryMax"
                                               name="salaryMax"/>
                                        <span>k</span>
                                    </div>
                                    <span>只能输入整数，如：9</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="redstar">*</span></td>
                            <td>工作城市</td>
                            <td><input type="text" placeholder="请输入工作城市，如：北京" value="上海" name="workAddress"
                                       id="workAddress"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="btm">
                        <tbody>
                        <tr>
                            <td width="25"><span class="redstar">*</span></td>
                            <td width="85">工作经验</td>
                            <td><input type="hidden" id="experience" value="" name="workYear"/>
                                <input type="button" value="请选择工作经验" id="select_experience"
                                       class="selectr selectr_380"/>
                                <div class="boxUpDown boxUpDown_380 dn" id="box_experience" style="display: none;">
                                    <ul>
                                        <li> 不限</li>
                                        <li> 应届毕业生</li>
                                        <li> 1年以下</li>
                                        <li> 1-3年</li>
                                        <li> 3-5年</li>
                                        <li> 5-10年</li>
                                        <li> 10年以上</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="redstar">*</span></td>
                            <td>学历要求</td>
                            <!--<h3><span>(最高月薪不能大于最低月薪的2倍)</span></h3> -->
                            <td><input type="hidden" id="education" value="" name="education"/>
                                <input type="button" value="请选择学历要求" id="select_education" class="selectr selectr_380"/>
                                <div class="boxUpDown boxUpDown_380 dn" id="box_education" style="display: none;">
                                    <ul>
                                        <li> 不限</li>
                                        <li> 大专</li>
                                        <li> 本科</li>
                                        <li> 硕士</li>
                                        <li> 博士</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="btm">
                        <tbody>
                        <tr>
                            <td width="25"><span class="redstar">*</span></td>
                            <td width="85">职位诱惑</td>
                            <td><input type="text" placeholder="20字描述该职位的吸引力，如：福利待遇、发展前景等" value=""
                                       name="positionAdvantage" class="input_520" id="positionAdvantage"/></td>
                        </tr>
                        <tr>
                            <td><span class="redstar">*</span></td>
                            <td>职位描述</td>
                            <td>
                                <span class="c9 f14">(建议分条描述工作职责等。请勿输入公司邮箱、联系电话及其他外链，否则将自动删除)</span>
                                <textarea id="content" cols="150" rows="50"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="redstar">*</span></td>
                            <td>工作地址</td>
                            <td><input type="text" placeholder="请输入详细的工作地址" value="" name="positionAddress"
                                       class="input_520" id="positionAddress"/> <input type="hidden" value=""
                                                                                       name="positionLng" id="lng"/>
                                <input type="hidden" value="" name="positionLat" id="lat"/>
                                <div class="work_place f14">
                                    我们将在职位详情页以地图方式精准呈现给用户
                                    <a id="mapPreview" href="javascript:;">预览地图</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                        <tr>
                            <td width="25"><span class="redstar">*</span></td>
                            <td colspan="2"> 接收简历邮箱： <span id="receiveEmailVal">{{ user.email }}</span> <input
                                    type="hidden" value="{{ user.email }}" id="receiveEmail" name="email"/></td>
                        </tr>
                        <tr>
                            <td width="25"></td>
                            <td colspan="2"><input type="button" value="发布" id="formSubmit" class="btn_32"/></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </dd>
        </dl>
    </div>
    <div style="display:none;">
        <!--地图弹窗-->
        <div class="popup" id="baiduMap">
            <div class="mb10">
                点击地图可重新定位公司所在的位置
            </div>
            <div id="allmap"
                 style="overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;"></div>
        </div>
        <!--/#baiduMap-->
    </div>
    <script src="/static/js/jobs.min.js" type="text/javascript"></script>
    <script>
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('#content', {
                width: '544px',
                resizeType: 1,
                allowPreviewEmoticons: true,
                allowImageUpload: true,
                items: ['source', '|', 'undo', 'redo', '|', 'code', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|',
                    'formatblock', 'fontsize', '|', 'bold', 'italic', 'underline', 'lineheight', 'removeformat',
                    '|', 'image', 'table', 'fullscreen'],
                uploadJson: '/recruitment/position_info_img.html',
            });
        });
    </script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=qnDozWhVGlheQZhknhvbgPSb4tAbhp3Z"></script>
    <script type="text/javascript">
        //百度地图API功能
        var map = new BMap.Map("allmap");
        //控件添加
        map.addControl(new BMap.NavigationControl());
        map.addControl(new BMap.ScaleControl());
        map.addControl(new BMap.OverviewMapControl());

        var point = new BMap.Point(116.331398, 39.897445);//初始化坐标点
        map.centerAndZoom(point, 15);
        map.enableScrollWheelZoom(true);//允许缩放
        var gc = new BMap.Geocoder();//地址定位
        var local = new BMap.LocalSearch(map, {
            renderOptions: {map: map}
        });

        function showInfo(e) {
            map.clearOverlays();//清除所有覆盖物
            var marker = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));  // 创建标注
            marker.addEventListener("mouseup", function (em) {//覆盖物监听事件--释放鼠标时定位覆盖物位置
                var pt = em.point;//移动后重新定位
                gc.getLocation(pt, function (rs) {
                    var addComp = rs.addressComponents;
                    var label = new BMap.Label("我的坐标：" + em.point.lng + ", " + em.point.lat + "  我的地址：" + addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber, {offset: new BMap.Size(20, -10)});
                    if (rs) {
                        var sContent =
                            "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>" + addComp.province + "</h4>" +
                            "<p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>" + rs.address + "</p>" +
                            "</div>";
                        var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
                        //图片加载完毕重绘infowindow
                        marker.openInfoWindow(infoWindow);
                    }

                    $('#lat').val(em.point.lat);
                    $('#lng').val(em.point.lng);
                });
            });
            marker.enableDragging();    //可拖拽
            map.addOverlay(marker);     // 将标注添加到地图中

            //地址定位
            var pt = e.point;
            gc.getLocation(pt, function (rs) {
                var addComp = rs.addressComponents;
                var label = new BMap.Label("我的坐标：" + e.point.lng + ", " + e.point.lat + "  我的地址：" + addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber, {offset: new BMap.Size(20, -10)});
                if (rs) {
                    var sContent =
                        "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>" + addComp.province + "</h4>" +
                        "<p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>" + rs.address + "</p>" +
                        "</div>";
                    var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
                    //图片加载完毕重绘infowindow
                    marker.openInfoWindow(infoWindow);
                }
                $('#lat').val(e.point.lat);
                $('#lng').val(e.point.lng);
            });

            //重置中心点
            olng = e.point.lng;
            olat = e.point.lat;
        }

        map.addEventListener("click", showInfo);//地图点击事件

        $(function () {
            $('#mapPreview').bind('click', function () {
                $.colorbox({inline: true, href: "#baiduMap", title: "公司地址"});
                var address = $('#positionAddress').val();
                var city = $('#workAddress').val();
                map.setCurrentCity(city);
                map.setZoom(15);
                gc.getPoint(address, function (point) {
                    if (point) {
                        map.centerAndZoom(point, 15);
                        map.setZoom(15);
                        map.setCenter(point);
                        local.search(address);
                    }
                }, city);
            });
        });
    </script>
    <div class="clear"></div>
    <input type="hidden" value="c29d4a7c35314180bf3be5eb3f00048f" id="resubmitToken"/>
    <a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
{% endblock %}