{% extends 'common_base.html' %}
{% block body %}
    <div class="login_wrapper">
        <div class="login_header">
            <a href="{% url 'index' %}"><img src="/static/images/logo_white.png" width="285" height="62"
                                             alt="寻寻招聘"/></a>
            <div id="cloud_s">
                <img src="/static/images/cloud_s.png" width="81" height="52" alt="cloud"/>
            </div>
            <div id="cloud_m">
                <img src="/static/images/cloud_m.png" width="136" height="95" alt="cloud"/>
            </div>
        </div>
        <div class="find_psw">
            <img src="/static/images/psw_step1.png" width="369" height="56" alt="找回密码第一步"/>
            <form id="pswForm" action="{% url 'reset' %}" method="post">
                {% csrf_token %}
                <input type="text" name="email" id="email" tabindex="1" value="{{ email }}"
                       placeholder="请输入注册时使用的邮箱地址"/>
                <p style="color: red">{{ msg }}</p>
                <input type="submit" id="submitLogin" value="找回密码"/>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#pswForm input[type="text"]').focus(function () {
                $(this).siblings('.error').hide();
            });
            //验证表单

            $("#pswForm").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: "请输入注册时使用的邮箱地址",
                        email: "请输入有效的邮箱地址，如：email@xx.com"
                    }
                },
                submitHandler: function (form) {
                    $(form).find(":submit").attr("disabled", true);
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}
