{% extends 'base.html' %}
{% block script %}
{% endblock %}
{% block header %}
    <div class="wrapper">
        <a class="logo" href="{% url 'index' %}"> <img width="229" height="43" alt="拉勾招聘-专注互联网招聘"
                                                       src="/static/images/logo.png"/> </a>
        <ul id="navheader" class="reset">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'company_list' %}">公司</a></li>
            <li class="current"><a rel="nofollow" href="{% url 'recruitment:unprocessed_resume' %}">简历管理</a></li>
            <li><a rel="nofollow" href="{% url 'PostJob' %}">发布职位</a></li>
        </ul>
        <dl class="collapsible_menu">
            <dt>
                <span>{{ user.email }}</span>
                <span class="red dn" id="noticeDot-1"></span>
                <i></i>
            </dt>
            <dd style="display: none;">
                <a href="{% url 'recruitment:positions' %}">我发布的职位</a>
            </dd>
            <dd style="display: none;">
                <a href="{% url 'recruitment:unprocessed_resume' %}">我收到的简历</a>
            </dd>
            <dd class="btm" style="display: none;">
                <a href="{% url 'recruitment:my_home_detail' %}">我的公司主页</a>
            </dd>
            <dd style="display: none;">
                <a href="{% url 'update_pwd' %}">帐号设置</a>
            </dd>
            <dd class="logout" style="display: none;">
                <a rel="nofollow" href="{% url 'logout' %}">退出</a>
            </dd>
        </dl>
    </div>
{% endblock %}
{% block container %}
{% endblock %}