{% extends 'base.html' %}
{% block header %}
    <div class="wrapper">
        <a class="logo" href="/"> <img width="229" height="43" alt="寻寻招聘-专注互联网招聘" src="/static/images/logo.png"/>
        </a>
        <ul id="navheader" class="reset">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'company_list' %}">公司</a></li>
            <li><a rel="nofollow" href="{% url 'user:my_resume' %}">我的简历</a></li>
        </ul>
        <dl class="collapsible_menu">
            <dt>
                <span>{{ user.email }}</span>
                <span class="red dn" id="noticeDot-0"></span>
                <i></i>
            </dt>
            <dd>
                <a href="{% url 'user:my_collection' %}">我收藏的职位</a>
            </dd>
            <dd>
                <a href="{% url 'user:resume_status' %}">我投递的职位</a>
            </dd>
            <dd class="btm">
                <a href="{% url 'user:my_subscription' %}">我的订阅</a>
            </dd>
            <dd>
                <a href="{% url 'update_pwd' %}">帐号设置</a>
            </dd>
            <dd class="logout">
                <a rel="nofollow" href="{% url 'logout' %}">退出</a>
            </dd>
        </dl>

    </div>
{% endblock %}
{% block container %}
    <div class="content_l">
        <h1>我的职位订阅</h1>
        <!--      -->
        <input type="hidden" id="orderCount" value="0"/>

        <form id="subForm">
            <input type="hidden" value="{{ s.id }}" name="id" id="orderId"/>
            <div class="s_form">
                <p>筛选下面的职位订阅条件，实现精准匹配的个性化职位定制，我们帮你挑工作！</p>
                <dl>
                    <dt>
                        <h3>接收邮箱 <i class="rss_circle"></i>&nbsp; 发送周期 <em></em><span>（不可更改）</span></h3>
                    </dt>
                    <dd>
                        <input type="text" id="subEmail" name="email" readonly="readonly" value="{{ user.email }}"/>
                        <span id="emailError" class="error" style="display:none;">{{ user.email }}</span>
                    </dd>
                    <dd>
                        <input type="hidden" id="select_day_hidden" name="sendMailPer" value="{{ s.cycle }}"/>
                        <ul class="s_radio clearfix">
                            {% if s %}
                                {% if s.cycle == 3 %}
                                    <li class="current" title="3">3天<em></em></li>
                                    <li title="7">7天</li>
                                {% else %}
                                    <li title="3">3天</li>
                                    <li class="current" title="7">7天<em></em></li>
                                {% endif %}
                            {% else %}
                                <li title="3">3天</li>
                                <li title="7">7天</li>
                            {% endif %}

                        </ul>
                        <span id="sendError" class="error" style="display:none;">请选择发送周期</span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <h3>职位名称 <em></em><span>（必填）</span></h3>
                    </dt>
                    <dd>
                        <input type="hidden" id="select_job_hidden" name="positionName" value="{{ s.position }}"/>
                        <input type="button" class="select" id="select_job" value="{{ s.position }}"/>
                        <div id="sub_box_job" class="dn">
                            {% for p1 in p %}
                                <dl>
                                    <dt>{{ p1.name }}</dt>
                                    <dd>
                                        <ul class="reset job_main">
                                            {% for p2 in p1.son.all %}
                                                <li>
                                                    {{ p2.name }}
                                                    <ul class="reset job_sub dn">
                                                        {% for p3 in p2.son.all %}
                                                            <li>{{ p3.name }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                </dl>
                            {% endfor %}
                        </div>
                        <span id="positionError" class="error" style="display:none;">请选择职位名称 </span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <h3>工作地点 <em></em><span>（必填）</span></h3>
                    </dt>
                    <dd>
                        <input type="text" id="select_city_hidden" name="city" value="{{ s.city }}"/>
                        <span id="cityError" class="error" style="display:none;">请选择工作地点 </span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <h3>发展阶段 <em></em></h3>
                    </dt>
                    <dd>
                        <input type="hidden" id="select_stage_hidden" name="financeStage" value="{{ s.finance_stage }}"/>
                        <ul class="s_tips clearfix s_radio_sp">
                        {% for f in fs %}
                        {% if s and s.finance_stage == f.0 %}
                            <li title="{{ f.0 }}" class="current">{{ f.0 }}<span class="dn">{{ f.1 }}</span><em></em></li>
                        {% else %}
                            <li title="{{ f.0 }}">{{ f.0 }}<span class="dn">{{ f.1 }}</span></li>
                        {% endif %}
                        {% endfor %}
                        </ul>
                        <span id="stageError" class="error" style="display:none;">请选择发展阶段 </span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <h3>行业领域 <em></em></h3>
                    </dt>
                    <dd>
                        <input type="hidden" id="select_industry_hidden" name="industryField" value="{{ s.industry_sector }}"/>
                        <input type="button" class="select" id="select_industry" value="{{ s.industry_sector }}"/>
                        <div id="box_industry" class="dn">
                            <ul class="reset">
                                {% for i in isr %}
                                    <li>{{ i.sector }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <span id="fieldError" class="error" style="display:none;">请选择行业领域 </span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <h3>月薪范围 <em></em></h3>
                    </dt>
                    <dd>
                        <input type="hidden" id="select_salary_hidden" name="salary" value="{{ s.salary }}"/>
                        <input type="button" class="select" id="select_salary" value="{{ s.salary }}"/>
                        <div id="box_salary" class="dn">
                            <ul class="reset">
                                {% for s in sa %}
                                    <li>{{ s }}</li>
                                {% endfor %}

                            </ul>
                        </div>
                        <span id="salaryError" class="error" style="display:none;">请选择月薪范围 </span>
                    </dd>
                </dl>
                <span id="commonError" class="error" style="display:none;">系统异常</span>
                <input type="submit" class="btn_big" id="subSubmit" value="保 存"/>
                <a href="javascript:void(0)" class="btn_cancel">取 消</a>
            </div>
        </form>
    </div>
    <div class="content_r">
        <div class="subscribe_side mb20 c5">
            <div class="why">我们为什么强烈推荐你</div>
            <h2>订阅</h2>
            <ul class="reset">
                <li class="sub1">帮助你节省浏览和筛选时间，快速找到适合的职位信息。</li>
                <li class="sub2">我们会严格按照你订阅的频次和条件给你发送邮件，并对你的个人信息绝对保密。</li>
            </ul>
        </div>
    </div>
    <input type="hidden" value="" name="userid" id="{{ user.id }}"/>
    <div style="display:none;">
        <div id="subscribeSuccessLogined" class="popup">
            <h4>职位订阅成功！</h4>
            <p>我们将定期发送订阅邮件至：<a></a>，请注意查收。</p>
            <table width="100%">
                <tr>
                    <td align="center"><a href="{% url 'user:my_subscription' %}" class="btn_s">确&nbsp;定</a></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="/static/js/sub.min.js"></script>
    <div class="clear"></div>
    <a id="backtop" title="回到顶部" rel="nofollow"></a>
{% endblock %}