{% extends 'base.html' %}
{% block header %}
    <div class="wrapper">
        <a class="logo" href="/"> <img width="229" height="43" alt="拉勾招聘-专注互联网招聘" src="/static/images/logo.png"/>
        </a>
        <ul id="navheader" class="reset">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'company_list' %}">公司</a></li>
            <li class="current"><a rel="nofollow" href="{% url 'user:my_resume' %}">我的简历</a></li>
        </ul>
        <dl class="collapsible_menu">
            <dt>
                <span>{{ user.email }}</span>
                <span class="red dn" id="noticeDot-0"></span>
                <i></i>
            </dt>
            <dd>
                <a href="{% url 'user:my_collection' %}">我收藏的职位</a>
            </dd>
            <dd>
                <a href="{% url 'user:resume_status' %}">我投递的职位</a>
            </dd>
            <dd class="btm">
                <a href="{% url 'user:my_subscription' %}">我的订阅</a>
            </dd>
            <dd>
                <a href="{% url 'update_pwd' %}">帐号设置</a>
            </dd>
            <dd class="logout">
                <a rel="nofollow" href="{% url 'logout' %}">退出</a>
            </dd>
        </dl>
    </div>
{% endblock %}
{% block container %}
    <div class="clearfix">
        <div class="content_l">
            <h1>我的职位订阅</h1>
            <div class="selected s1">
                {% if s %}
                    <input type="hidden" id="sid" value="{{ s.id }}">
                    <h2>{{ s.position }}</h2>
                    <div class="sbox">
                        <a class="sclose" href="javascript:void(0)"></a>
                        <a class="sedit" href="{% url 'user:edit_subscription' %}?id={{ s.id }}"></a>
                    </div>
                    <span>
                    {{ s.city }}/{{ s.industry_sector }}/{{ s.finance_stage }}/{{ s.salary }}
                    </span>
                {% else %}
                    <span>您还没有订阅！<a href="{% url 'user:edit_subscription' %}" target="_blank">点我订阅</a></span>
                {% endif %}
            </div>
        </div>
        <div class="content_r">
            <div class="subscribe_side mb20 c5">
                {% if s %}
                    <a href="{% url 'user:edit_subscription' %}?id={{ s.id }}" target="_blank">
                {% else %}
                    <a href="{% url 'user:edit_subscription' %}" target="_blank">
                {% endif %}
                    <div class="why">我们为什么强烈推荐你</div>
                    <h2>订阅</h2>
                    <ul class="reset">
                        <li class="sub1">帮助你节省浏览和筛选时间，快速找到适合的职位信息。</li>
                        <li class="sub2">我们会严格按照你订阅的频次和条件给你发送邮件，并对你的个人信息绝对保密。</li>
                    </ul>
                    <i>我也要订阅职位</i>
                </a>
            </div>
        </div>
    </div>
    <script src="/static/js/sub.min.js"></script>
    <div class="clear"></div>
    <a rel="nofollow" title="回到顶部" id="backtop"></a>
{% endblock %}